$button-dimension: 4.2rem;

.button {
  border-radius: 10px;
  padding: 1rem;
  min-width: 5rem;
  min-height: 3rem;
  transition: 250ms background-color;
  cursor: pointer;
  font-weight: bold;
  border: 1px solid transparent;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  margin-top:2rem;
  background:#00afab;
  color:#fff;
  + .button {
    margin-left: 1em;
  }
  &:disabled{
    opacity:.2;
  }

  i {
    font-size: 1.5rem;
    margin-right: 1rem;
    vertical-align: middle;
  }

  &.icon-right {

    i {
      margin-left: 1rem;
      margin-right: 0;
    }
  }

  &--plain {
    background: transparent;
    border: 0;
    color: #00afab;
    font-size: 1.6rem;
    padding: 0;
    display: flex;
    align-items: center;
    min-height: 2rem;
    font-weight: bold;

    i {
      font-size: 1.4rem;
      margin-right: 1rem;
    }

    &:hover,
    &:active,
    &:focus {
      color: #99dfdd;
    }
  }

  &--small {
    padding: 0.6rem 0.8rem;
    min-height: 0;
  }

  &--large {
    padding-left: 2rem;
    padding-right: 2rem;
    height: 2.8rem;
    max-width:20rem;

    i {
      font-size: 1.8rem;
      margin-right: 0.8rem;
    }
  }

  &--xlarge {
    font-size: 2rem;
    font-weight: bold;
    padding: 2rem;
    width: 100%;

    i {
      font-size: 2rem;
    }
  }

  &--icon {
    padding: 0.5rem;
    text-align: center;
    border: 0;
    background: transparent;

    i {
      vertical-align: text-bottom;
      color: #00afab;
      font-size: 2.4rem;
      margin: 0;
    }

    &.primary,
    &.highlight,
    &.transparent,
    &.primary:hover,
    &.highlight:hover,
    &.transparent:hover {

      i {
        color: #00afab;
      }
    }

    &.button--large {
      padding-left: 1.3rem;
      padding-right: 1.3rem;
    }
  }

  &--disc {
    background: #c7c7c7;
    border: 1px solid #00afab;
    border-radius: 50%;
    color: #00afab;
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 2.6rem;
    min-width: 2.6rem;
    padding: 0;

    i {
      font-size: 14px;
      line-height: 1;
    }
  }
}

a.button {
  display: inline-flex;
  align-items: center;
}
